<div ng-include="'view/shared/header.html'"></div>
<div ng-include="'view/shared/lateral-menu.html'"></div>

<main class="main" ng-init="fnLoadMap()">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 p-0 text-center">
				<div class="alert alert-warning m-0 px-5 alert-dismissible fade show" ng-show="emptyRecommentValues">
					<p class="m-0" ng-bind="emptyRecommentValuesMessge"></p>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div id="map"></div>

			</div>
		</div>
	</div>
	
</main>
