$white: #fff;
$black: #000;
$red: #ca1212;
$red-hover: #7d0808;
$orange: #ff9023;
$blue: #0097ff;
$green: #0ab711;
$green-hover: #07820c;
$gray-20: #fbfbfb;
$gray-50: #eee;
$gray-50-hover: #ccc;
$gray-100: #85868f;
$gray-200: #474956;
$gray-300: #2c2e35;

.color--blue {
	color: $blue;
}