html,
body {
	@extend .open-regular;
	background: #f3f3f3;
	min-width: 320px;
	overflow: hidden;
}

main {
	margin-top: 70px;
}

.form-group {
	position: relative;
	margin-bottom: 5px;
}

.form-control {
	margin-top: 5px;
}

.btn {
	@extend .open-semibold;
	font-size: 12px;
	padding: 5px 15px;
	text-transform: uppercase;
	@include media-breakpoint-up(md) {
		padding: 5px 20px;
		font-size: 13px;
	}
}

label {
	@extend .open-semibold;
	font-size: 13px;
}