.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: $white;
	box-shadow: 0 3px 5px rgba(204, 204, 204, 0.5);
	z-index: 1040;
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		width: 100%;
		padding: 10px 20px 10px 15px;
		&__action {
			&--icon {
				width: 60px;
				height: 45px;
				position: relative;
				transform: rotate(0deg) scale(0.6);
				transition: .5s ease-in-out;
				cursor: pointer;
				span {
					display: block;
					position: absolute;
					height: 9px;
					width: 50%;
					background: #7b7b7b;
					opacity: 1;
					transform: rotate(0deg);
					transition: .25s ease-in-out;
					&:nth-child(even) {
						left: 50%;
						border-radius: 0 9px 9px 0;
					}
					&:nth-child(odd) {
						left:0px;
						border-radius: 9px 0 0 9px;
					}
					&:nth-child(1), &:nth-child(2) {
						top: 0px;
					}
					&:nth-child(3), &:nth-child(4) {
						top: 18px;
					}
					&:nth-child(5), &:nth-child(6) {
						top: 36px;
					}
				}
				&.open {
					span {
						&:nth-child(1), &:nth-child(6) {
							transform: rotate(45deg);
						}
						&:nth-child(2), &:nth-child(5) {
							transform: rotate(-45deg);
						}
						&:nth-child(1) {
							left: 5px;
							top: 7px;
						}
						&:nth-child(2) {
							left: calc(50% - 5px);
							top: 7px;
						}
						&:nth-child(3) {
							left: -50%;
							opacity: 0;
						}
						&:nth-child(4) {
							left: 100%;
							opacity: 0;
						}
						&:nth-child(5) {
							left: 5px;
							top: 29px;
						}
						&:nth-child(6) {
							left: calc(50% - 5px);
							top: 29px;
						}
					}
				}
				svg {
					cursor: pointer;
					height: 25px;
					width: 25px;
					path {
						fill: $gray-300;
					}
				}	
			}
		}
		&__logo {
			img {
				width: 150px
			}
		}
		&__user {
			display: flex;
			&--desktop {
				display: none;
				@include media-breakpoint-up(md) {
					display: flex;
				}
				&__img {
					width: 50px;
					height: 50px;
				}
				&__description {
					margin-left: 8px;
					p {
						margin: 0
					}
				}
			}
			&--mobile {
				display: flex;
				justify-content: center;
				width: 45px;
				svg {
					cursor: pointer;
					height: 35px;
					width: 35px;
					path {
						fill: $gray-100;
					}
				}
				@include media-breakpoint-up(md) {
					display: none;
				}

			}
		}
	}
}