.lateral__menu {
	position: absolute;
	width: 240px;
	height: 100%;
	top: 70px;
	left: 0;
	margin-left: -240px;
	background: $white;
	box-shadow: 0 3px 5px rgba(204, 204, 204, 0.5);
	transition: 1.5s;
	color: gray;
	padding: 10px 0;
	z-index: 1030;

	&.open {
		margin-left: 0;
	}

	.action {
		&__item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 60px;
			border-radius: 5px;
			transition: 0.5s;
			margin-bottom: 5px;
			color: $white;
			cursor: pointer;
		}
		
		&--heat__map {
			background: $red;
			&:hover {
				background: $red-hover;
			}

		}

		&--actual__location {
			background: $gray-200;
			&:hover {
				background: $gray-300;
			}
		}
		
		.heatTurnOn {
			background: $green;
			&:hover {
				background: $green-hover;
			}
		}
	}
}