<section class="d-flex align-items-center login__background--image">
	<video autoplay muted loop class="login__background--video">
		<source src="videos/bg.mov" type="video/mov">
		<source src="videos/bg.mp4" type="video/mp4">
	</video>

	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="row login__container">
					<div class="col-12 text-center">
						<img class="img-fluid my-3 login__container__image" src="img/softruck-logo.png" alt="Logo">
					</div>
					<div class="col-12">
						<form class="m-0" action="#!/home">
							<div class="form-group">
								<h3 class="font-weight-bold">Login</h3>
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Digite o e-mail" required>
							</div>
							<div class="form-group">
								<label for="senha">Senha</label>
								<input type="password" class="form-control" id="senha" placeholder="Digite sua senha" required>
							</div>
							<button type="submit" class="btn btn-block btn-login text-center">Entrar</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>

</section>