<header class="header">
	<div class="nav">
		<div class="nav__action">
			<div class="nav__action--icon" ng-class="{'open' : openedMenu}" ng-click="triggerMenu()">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		
		<div class="nav__logo">
			<img class="img-fluid" src="img/softruck-logo-h.png" alt="Logo">
		</div>
		<div class="nav__user">
			<div class="nav__user--desktop">
				<div class="nav__user--desktop__img" data-toggle="dropdown">
					<img class="img-fluid" src="img/user.png" alt="">
				</div>
				<div class="nav__user--desktop__description" data-toggle="dropdown">
					<p>Olá</p>
					<p>Bruno Meireles<i class="fa fa-chevron-down ml-2" aria-hidden="true"></i></p>
				</div>
				<div class="nav__user--desktop__description dropdown-menu ">
					<a class="dropdown-item" href="#!/login">Logout</a>
				</div>
			</div>
			<div class="nav__user--mobile">
				<a href="#!/login">
					<i class="fas fa-sign-out-alt"></i>
				</a>
			</div>
		</div>
		
		
	</div>
</header>