<aside class="lateral__menu" ng-class="{'open' : openedMenu}">
	<div class="container">
		<div class="row">
			<div class="col-12 text-left">
				<form ng-submit="searhRecommendVenues()">
					<h5>Busca avançada</h5>
					<div class="form-group">
						<label>Selecione uma categoria
							<div angucomplete-alt id="category1"
								placeholder="Selecionar categoria"
								maxlength="50"
								pause="100"
								selected-object="formSearch.selectedCategory"
								local-data="listCategory"
								search-fields="name"
								title-field="name"
								minlength="1"
								input-class="form-control"
								match-class="highlight"
								field-required="true"
								input-name="category"></div>
						</label>
					</div>
					<div class="form-group">
						<label>Selecione o raio de distancia(m)
							<input class="form-control" ng-model="formSearch.distanceSearch" type="number" min="1" max="100000" required></input>
						</label>
					</div>
					<div class="form-group text-center">
						<button class="btn btn-primary text-center" type="submit">Buscar</button>	
					</div>
				</form>

			</div>
		</div>

		<div class="row action">
			<div class="col-12">
				<div class="action__item action--heat__map" ng-class="{'heatTurnOn' : heatLayerToggle}" ng-show="turnBtnHeatMap" ng-click="toggleHeatMap()">
					<i class="far fa-map"></i>
					<span>Mapa de calor</span>
				</div>
				
			</div>
			<div class="col-12">
				<div class="action__item action--actual__location" ng-click="fnGeolocation()">
					<i class="far fa-dot-circle"></i>
					<span>Meu local</span>
				</div>

			</div>
		</div>
	</div>

</aside>